<h1><%= "#{@user.email}の詳細ページ" %></h1>

<table>
  <thead>
    <tr>
      <th><%= "email" %></th>
      <th><%= "postal_code" %></th>
      <th><%= "address" %></th>
      <th><%= "self_introduction" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.email %></td>
        <td><%= @user.postal_code %></td>
        <td><%= @user.address %></td>
        <td><%= @user.self_introduction %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'root', root_path %>
