<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> <%= t :error_to_save_book, scope: 'notices' %>:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t :title, scope: 'books' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label t :memo, scope: 'books' %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label t :author, scope: 'books' %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label t :picture, scope: 'books' %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <% if current_page?(new_book_path) %>
      <%= form.submit value="#{t :new, scope: 'form_actions'}" %>
    <% elsif current_page?(edit_book_path) %>
      <%= form.submit value="#{t :edit, scope: 'form_actions'}" %>
    <% else %>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
