<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @report.user.email %>
</p>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<p>
  <strong>comments:</strong>
  <% @report.comments.each do |comment| %>
    <% next unless comment.body.present? %>
    <p>
      <% if comment.user.name.present? %>
        <%= comment.user.name %> |
      <% else %>
        <%= comment.user.email %> |
      <% end %>
      <%= comment.body %> |
      <%= comment.created_at %>
    </p>
  <% end %>
</p>

<%= render 'comments/form', commentable: @report %>
